.nav {
  display: flex;
  justify-content: center;
  font-family: "Microsoft soft";

  height: 400px;
  position: sticky;
  top: 55px;
}

.chapter {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;

  background-color: rgb(255, 237, 237);
}

.chapter:hover {
  background-color: rgb(250, 193, 193);
}

.fill {
  width: 150px;
  height: 2rem;
}

.container {
  width: 180px;
}

.arrow_box {
  width: 30px;
  height: 100%;
  padding-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 15px;
}

.p {
  color: rgb(107, 107, 107);
}

.p:hover {
  color: rgb(255, 163, 51);
}

.child_chapter {
  padding-left: 10%;
}

.child_chapter:hover {
  background-color: rgb(255, 192, 192);
}

.child_box {
  background-color: rgb(250, 250, 250);
}
