.nav {
  border-color: black;
  border-style: solid;
  border-width: 2px;

  display: flex;
  justify-content: center;
  font-family: "Microsoft soft";
}

.chapter {
  border-color: black;
  border-style: solid;
  border-width: 2px;

  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;

  background-color: rgb(182, 221, 255);
}

.fill {
  border-color: rgb(248, 0, 0);
  border-style: solid;
  border-width: 2px;

  width: 150px;
  height: 2rem;
}

.container {
  border-color: black;
  border-style: solid;
  border-width: 2px;

  width: 180px;
}

.arrow_box {
  width: 30px;
  height: 100%;
  padding-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow_box:hover {
  background: rgb(219, 219, 219);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(247, 181, 102);
}

.arrow {
  width: 15px;
}

.p {
  color: pink;
}

.p:hover {
  color: rgb(255, 163, 51);
}

.child_box {
  padding-left: 20px;

  background-color: azure;
}
